<div class="m-5 p-1">
  <img
    src="../../../assets/images/logo.jpg"
    alt="img chinchin"
    height="50"
    width="200"
    class="float-left"
  />

  <button class="btn btn-danger float-right m-2" (click)="logout()">
    Cerrar Sesión
  </button>

  <button class="btn float-right m-2 text-white" style="background: #20c79f;">
    Compar - Venta
  </button>

  <button class="btn float-right m-2 text-white" style="background: #20c79f;">
    Pagar Orden
  </button>

  <h6 class="float-right mt-3" style="font-weight: bold; color: #20c79f;">
    6.449.989,38 VES
  </h6>
</div>

<div class="m-5">
  <h1 class="title">Bienvenido</h1>
  <h6>Mis Billeteras o cuentas</h6>

  <hr />
</div>

<div class="container p-3">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header bs">
          Bolivar Soberano
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">9.489,00 VES</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header btc">
          Bitcoin
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">0,0034186 BTC</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header pt">
          Petros
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">1 PTR</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container p-3">
  <div class="row">
    <h6>Mis últimas transacciones</h6>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">TRANSACCIÓN</th>
          <th scope="col">MONTO</th>
          <th scope="col">ESTATUS</th>
          <th scope="col">FECHA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="color: #dd2b2b;">ENVIO DE FONDOS</td>
          <td>5.058,00 VES</td>
          <td>
            <h5><span class="badge badgePendiente">PENDIENTE</span></h5>
          </td>
          <td>12/11/2019 17:11:24</td>
        </tr>
        <tr>
          <td style="color: #dd2b2b;">ENVIO DE FONDOS</td>
          <td>100,00 VES</td>
          <td>
            <h5><span class="badge badgeConfig">CONFIRMADA</span></h5>
          </td>
          <td>12/11/2019 17:11:24</td>
        </tr>
        <tr>
          <td style="color: #6ed401;">RECIBO DE FONDOS</td>
          <td>5.058,00 VES</td>
          <td>
            <h5><span class="badge badgeRechazado">RECHAZADO</span></h5>
          </td>
          <td>12/11/2019 17:11:24</td>
        </tr>
        <tr>
          <td>RECIBO DE FONDOS</td>
          <td>5.058,00 VES</td>
          <td>
            <h5><span class="badge badgeStyle">PENDIENTE</span></h5>
          </td>
          <td>12/11/2019 17:11:24</td>
        </tr>
        <tr>
          <td>RECIBO DE FONDOS</td>
          <td>5.058,00 VES</td>
          <td>
            <h5><span class="badge badgeStyle">PENDIENTE</span></h5>
          </td>
          <td>12/11/2019 17:11:24</td>
        </tr>
        <tr>
          <td>RECIBO DE FONDOS</td>
          <td>5.058,00 VES</td>
          <td>
            <h5><span class="badge badgeStyle">PENDIENTE</span></h5>
          </td>
          <td>12/11/2019 17:11:24</td>
        </tr>
        <tr>
          <td>RECIBO DE FONDOS</td>
          <td>5.058,00 VES</td>
          <td>
            <h5><span class="badge badgeStyle">PENDIENTE</span></h5>
          </td>
          <td>12/11/2019 17:11:24</td>
        </tr>
        <tr>
          <td>RECIBO DE FONDOS</td>
          <td>5.058,00 VES</td>
          <td>
            <h5><span class="badge badgeStyle">PENDIENTE</span></h5>
          </td>
          <td>12/11/2019 17:11:24</td>
        </tr>
        <tr>
          <td>RECIBO DE FONDOS</td>
          <td>5.058,00 VES</td>
          <td>
            <h5><span class="badge badgeStyle">PENDIENTE</span></h5>
          </td>
          <td>12/11/2019 17:11:24</td>
        </tr>
        <tr>
          <td>RECIBO DE FONDOS</td>
          <td>5.058,00 VES</td>
          <td>
            <h5><span class="badge badgeStyle">PENDIENTE</span></h5>
          </td>
          <td>12/11/2019 17:11:24</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-6">
        <img
          src="../../../assets/images/logo.jpg"
          alt="img chinchin"
          height="50"
          width="200"
        />
        <p class="lead mb-0 text-justify p-2">
          ChinChin te da la libertad que necesitas para manejar tu dinero sin
          intermediarios. A través de nuestra plataforma de dinero podrás
          ahorrar en cualquier divisa o criptomoneda y realizar pagos y
          transferencias a cualquier parte del mundo, desde cualquier
          dispositivo de manera segura, fácil y con bajo costo.
        </p>
        <div>
          <a class="btn btn-social mx-4 float-left" href="#"
            ><i class="fa fa-twitter text-rigth"></i
          ></a>
          <a class="btn btn-social mx-1 float-left" href="#"
            ><i class="fa fa-facebook"></i
          ></a>
          <a class="btn btn-social mx-1 float-left" href="#"
            ><i class="fa fa-instagram"></i
          ></a>
        </div>
      </div>
      <div class="col-6 p-5">
        <ul>
          <li class="float-right" style="font-weight: bold;">Contacto</li>
          <li style="font-weight: bold;">Nosotros</li>
          <li class="float-right" style="font-weight: bold;">
            Ayuda y Soporte
          </li>
          <li style="font-weight: bold;">Características</li>
          <li class="float-right" style="font-weight: bold;">Términos</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
