<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="container-fluid">
    <div id="dataInfo">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-4">
                <div class="card cardStyle">
                  <div class="card-body">
                    <h4 class="float-left">BTC/USD</h4>
                    <h5 class="float-right">$352.265</h5>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card cardStyle">
                  <div class="card-body">
                    <h4 class="float-left">ETC/USD</h4>
                    <h5 class="float-right">$444.265</h5>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card cardStyle">
                  <div class="card-body">
                    <h4 class="float-left">DASH/USD</h4>
                    <h5 class="float-right">$555.265</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-4">
                <div class="card cardStyle">
                  <div class="card-body">
                    <h4 class="float-left">PTR/USD</h4>
                    <h5 class="float-right">$678.265</h5>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card cardStyle">
                  <div class="card-body">
                    <h4 class="float-left">BS/USD</h4>
                    <h5 class="float-right">$258.265</h5>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card cardStyle">
                  <div class="card-body">
                    <h4 class="float-left">EURO/USD</h4>
                    <h5 class="float-right">$111.265</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a
          class="carousel-control-next"
          href="#myCarousel"
          role="button"
          data-slide="next"
        >
        </a>
        <a
          class="carousel-control-prev"
          href="#myCarousel"
          role="button"
          data-slide="prev"
        ></a>
      </div>
    </div>
  </div>
</div>
